*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
ios/buildConfiguration/.idea/
/.idea/
android/.idea/
android/build/
*/xcuserdata/*
*/xcuserdatad/*
*.generated.swift
*.xcuserstate
*.idea*
_Builds/*
xcodebuild.log
Pods/
./Pods/*
*/.DS_Store
